* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo-size: 2rem;
  --tab-size: 1rem;
  --h1-size: 3rem;
  --h2-size: 1.8rem;
  --p-size: 1rem;
  --padding-footer-wrapper: 1.5em;
  --hover-scale: 1.02;
}

body {
  font-family: "Victor Mono", monospace;
  background: linear-gradient(
    45deg,
    rgba(53, 146, 138, 0.749),
    rgba(50, 184, 112, 0.673)
  );

  background-image: url(/img/ocean.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
}

#logo {
  font-size: var(--logo-size);
  text-decoration: none;
  font-weight: 900;
  text-shadow: 0 0 0.2rem rgba(34, 31, 31, 0.657);
}

.nav-bar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.nav-bar__links {
  display: inherit;
  text-align: center;
  text-decoration: none;
  padding: 0.8em;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.375),
    rgba(23, 23, 23, 0.56)
  );
  min-width: 6rem;
  border-radius: 0.1em;
  color: azure;
  transition: 0.2s;
}

.nav-bar__links:hover {
  transform: scale(1.03);
  box-shadow: 0 0 0.5em;
}

main {
  padding-top: 10rem;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

section {
  padding: 4em;
  text-align: center;
}

.message-window {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 40%;
  border-radius: 0.3em;
  text-align: center;
  margin: auto;
  background-color: rgba(40, 31, 31, 0.517);
  box-shadow: 0 0 0.5em rgb(46, 41, 41);
  border: 0.1em solid rgba(40, 31, 31, 0.617);
  align-items: center;
  color: azure;
  min-width: fit-content;
}

.message-window p {
  padding: 0.6em 0 0 0;
}

.message-window h1 {
  font-size: 2rem;
}

.message-window a {
  margin-top: 1em;
  text-decoration: none;
  padding: 0.7em;
  width: fit-content;
  background-color: aquamarine;
  border-radius: 0.2em;
  color: rgba(137, 43, 226, 0.894);
  font-weight: bold;
}

.buttons:hover {
  transform: scale(1.03);
  box-shadow: 0 0 0.5em;
}

.section--highlights {
  background-color: rgba(245, 245, 220, 0.623);
  background: linear-gradient(
    45deg,
    rgba(245, 245, 220, 0.123),
    rgba(245, 245, 220, 0.423)
  );
}

.section--highlights h2 {
  color: azure;
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.ul-places-directory {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  list-style: none;
}

.ul-places-directory li {
  flex-grow: 1;
}

.place-cards {
  text-decoration: none;
  background-color: rgba(245, 245, 245, 0.761);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0.5em;
  height: 13rem;
  flex-direction: column;
  border: 0.2em solid rgba(0, 0, 0, 0.65);
  box-shadow: 0.05em 0.05em 0.4rem rgba(0, 0, 0, 0.596);
  overflow: hidden;
  min-width: 18rem;
}

.place-cards:hover {
  transform: scale(var(--hover-scale));
}

.place-images {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.place-cards h3 {
  margin: auto;
}

footer {
  background: linear-gradient(
    45deg,
    rgba(29, 28, 28, 0.775),
    rgba(23, 23, 23, 0.866)
  );
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: var(--padding-footer-wrapper);
}

.footer-wrapper-container {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.left {
  justify-content: left;
}

.contact-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1em;
  color: azure;
  font-weight: 900;
  align-items: flex-start;
}

.contact-data:hover {
  transform: scale(var(--hover-scale));
}

.ul-icon-wrapper {
  list-style: none;
  display: flex;
  gap: 1.4em;
}

footer img {
  height: 2.5rem;
}
footer img:hover {
  transform: scale(var(--hover-scale));
}
