* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.places-grid-directory-destinations {
  display: grid;
  list-style: none;
  width: 65%;
  margin: auto;
  margin-bottom: 4rem;
  gap: 0.7rem;
  grid-template-areas:
    "one one two"
    "three three two"
    "four five five"
    "four six six";
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

.place-cards-destinations:nth-of-type(1) {
  grid-area: one;
}
.place-cards-destinations:nth-of-type(2) {
  grid-area: two;
}
.place-cards-destinations:nth-of-type(3) {
  grid-area: three;
}
.place-cards-destinations:nth-of-type(4) {
  grid-area: four;
}
.place-cards-destinations:nth-of-type(5) {
  grid-area: five;
}
.place-cards-destinations:nth-of-type(6) {
  grid-area: six;
}

.place-cards-destinations {
  background-color: antiquewhite;
  display: flex;
  overflow: hidden;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(233, 233, 233, 0.947);
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.928);
}

.place-cards-destinations.reverse {
  flex-direction: row-reverse;
}

.place-cards-destinations.vertikal {
  flex-direction: column;
}

img {
  object-fit: cover;
  position: relative;
  transition: 1s;
}

img:hover {
  transform: scale(1.16);
  object-position: 0.2rem 0.2rem;
  transition: 2s;
}

img.horizontal {
  width: 55%;
}

img.vertikal {
  width: 100%;
  height: 45%;
}

.text-bereich-destinations {
  padding: 0.6em;
  position: relative;
  background-color: antiquewhite;
}
.place-cards-destinations.vertikal .text-bereich-destinations {
  width: 45%;
}
.place-cards-destinations.vertikal .text-bereich-destinations {
  width: 100%;
}

.text-bereich-destinations h2 {
  padding: 0.5em;
  font-size: 1.3rem;
}

.text-bereich-destinations p {
  font-size: 0.7rem;
  padding-left: 1.06em;
  padding-bottom: 2rem;
}

.text-bereich-destinations a {
  font-size: 0.75rem;
  position: absolute;
  display: block;
  width: fit-content;
  padding: 0.5em 0 0 0;
  left: 75%;
  bottom: 5%;
  text-decoration: none;
  color: rgb(106, 111, 111);
  text-shadow: 0.05em 0.05em rgba(19, 18, 18, 0.78);
}

.place-cards-destinations.vertikal a {
  top: 88.5%;
  left: 77%;
}

.text-bereich-destinations a::before {
  content: url(/icons/icons8-pfeil-48.png);
  fill: rgb(106, 111, 111);
  position: absolute;
  top: -42%;
  left: -70%;
  animation: pfeilbewegung 1s ease-in-out 0.5s infinite;
}

.place-cards-destinations.vertikal .text-bereich-destinations a::before {
  top: -48%;
  left: -68%;
}
.text-bereich-destinations a:hover {
  transform: scale(1.05);
}

@keyframes pfeilbewegung {
  0% {
    transform: scale(0.4) translate(-30%, 0);
  }

  100% {
    transform: scale(0.4) translate(0%, 0);
  }
}
