/* Allgemeines ----------------------------------------------- */
:root {
  --main_color: #85b8cb;
  --font_color: #d1dddb;
  --button_color: #1d6a96;
  --footer_color: #283b42;
  --Logo_size: 60px;
  
}


/* header  --------------------------------------------*/

/* Logo -----------------------------*/

/* Navbar --------------------------*/

/* FOOTER_________________________________________________________________________________
 */

